.client__logo {
  .client__content {
    padding: 110px;
    @media screen and (max-width: 1200px) {
      padding: 110px 0;
      margin: auto;
    }
    .owl-item {
      display: flex;
      justify-content: center;
    }

    .logo {
      height: 110px;
      width: 150px;
      // margin: auto;
      @media screen and (max-width: 1200px) {
        height: 200px;
        width: 260px;
      }
      @media screen and (max-width: 986px) {
        height: 150px;
        width: 210px;
      }
      @media screen and (max-width: 768px) {
        height: 30vw;
        width: 40vw;
      }
    }
    img {
      height: 100%;
    }
  }
}
