.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  padding: 0 3%;
  margin: auto;
  margin-bottom: 115px;

  @media screen and (max-width: 986px) {
    width: 75%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
  h3 {
    letter-spacing: 2px;
    color: $color-gray-1;
    @media screen and (max-width: 768px) {
      font-size: $fs-4;
    }
  }
  p {
    line-height: $lh-p;
    color: $color-gray-2;
  }
  .divider {
    width: 60px;
    height: 2px;
    background-color: $color-gray-6;
  }
}
