.team__content.container {
  @media screen and (max-width: 768px) {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 100%;
  }
}
.team__content {
  padding: 0;
  padding-bottom: 110px;
  .team__info {
    margin-bottom: 100px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 986px) {
      flex-direction: column;
    }
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    .item {
      position: relative;
      width: 335px;
      height: 435px;
      @media screen and (max-width: 1200px) {
        width: 265px;
        height: 345px;
      }
      @media screen and (max-width: 986px) {
        width: 100%;
        height: 870px;
      }
      @media screen and (max-width: 768px) {
        padding: 0;
        width: 100%;
        height: 120vw;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .team__text {
        position: absolute;
        right: 0;
        bottom: 30px;
        width: 60%;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 20px;
        background-color: $opacity-3;
        @media screen and (max-width: 768px) {
          right: 0;
        }
        h5,
        p {
          letter-spacing: 1px;
        }
        h5 {
          color: white;
        }
        p {
          font-size: $fs-7;
          color: $color-gray-op;
        }
      }
      .overlay {
        // margin: 0 25px;
        // user-select: none;
        @media screen and (max-width: 786px) {
          margin: 0;
        }
        .overlay__content {
          .overlay__text {
            opacity: 0;
            padding: 0 20px;
            transform: translateY(-100px);
            h5 {
              letter-spacing: 5px;
              text-align: center;
              @media screen and (max-width: 1200px) {
                font-size: $fs-7;
              }
              @media screen and (max-width: 986px) {
                font-size: $fs-4;
              }
            }
            p {
              padding-top: 30px;
              font-size: $fs-5;
              text-align: center;
              line-height: $lh-p;
              color: $color-gray-2;
              @media screen and (max-width: 1200px) {
                font-size: $fs-7;
              }
              @media screen and (max-width: 986px) {
                font-size: $fs-4;
              }
            }
          }
          .team__link {
            opacity: 0;
            transition: all 0.3s 0.2s;
            transform: translateY(55px);
            @media screen and (max-width: 986px) {
              transform: translateY(140px);
            }
            a {
              text-decoration: none;
              margin: 0 10px;
              @media screen and (max-width: 986px) {
                margin: 0 20px;
              }
              span::before {
                color: black;
                font-size: $fs-4;
                @media screen and (max-width: 986px) {
                  font-size: $fs-2;
                }
                @media screen and (max-width: 768px) {
                  font-size: 4vw;
                }
              }
            }
          }
        }
      }
      &:hover .overlay {
        opacity: 1 !important;
        .overlay__content {
          opacity: 1;
        }
        .overlay__text,
        .team__link {
          transform: translateY(5px);
          opacity: 1;
        }
        .team__link {
          @media screen and (max-width: 986px) {
            transform: translateY(100px);
          }
          @media screen and (max-width: 786px) {
            transform: translateY(10vw);
          }
        }
      }
    }
  }
  .hiring_wrap {
    padding: 0 25px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    .team__hiring {
      padding: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-gray-15;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .hiring__text {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 986px) {
          width: 50vw;
        }
        @media screen and (max-width: 768px) {
          width: initial;
        }
        h4 {
          margin-bottom: 15px;
          span {
            font-size: $fs-4;
            color: $color-primary;
          }
        }
        p {
          color: $color-gray-2;
        }
      }
      button {
        margin-left: 20px;
        @media screen and (max-width: 768px) {
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
